mat-toolbar {
  display: flex;
  align-items: center;
  padding: 16px;
  background: none;
  backdrop-filter: blur(15px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 5px;
}

mat-toolbar span {
  color: white;
  font-size: 24px;
}

mat-toolbar button {
  background: #DAAF47;
  transition: background 0.25s ease;
  margin-right: 20px;
}

mat-toolbar button:hover {
  background: grey;
}

.active-link {
  background: red;
}

.toolbar-title {
  flex: 1;
}

.spacer {
  flex: 1;
}
