.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: #f8f8f8;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-image: url("https://preview.redd.it/balatro-main-menu-image-without-ui-elements-v0-yl1be0ojeevc1.jpg?width=2560&format=pjpg&auto=webp&s=58e6d55652cc252b1968c3d1df6b37c1a8162011");
}

.footer span {
  font-size: 1rem;
  color: #333;
}
