.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  background: none;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  backdrop-filter: blur(15px);
}

.footer span {
  font-size: 1rem;
  color: white;
}
