<div>
  <form (submit)="onSubmit()" class="user-form">
    <div class="form-field">
      <label for="nom">Nom :</label>
      <mat-form-field appearance="fill">
        <input matInput type="text" id="nom" name="nom" [(ngModel)]="user.nom" required />
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="prenom">Prenom :</label>
      <mat-form-field appearance="fill">
        <input matInput type="text" id="prenom" name="prenom" [(ngModel)]="user.prenom" required />
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="mail">Mail :</label>
      <mat-form-field appearance="fill">
        <input matInput type="email" id="mail" name="mail" [(ngModel)]="user.mail" required />
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="username">Username :</label>
      <mat-form-field appearance="fill">
        <input matInput type="text" id="username" name="username" [(ngModel)]="user.username" required />
      </mat-form-field>
    </div>
    <div class="form-field">
      <label for="password">Password :</label>
      <mat-form-field appearance="fill">
        <input matInput type="text" id="password" name="password" [(ngModel)]="user.password" required />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit">
      {{ mode === 'add' ? 'Ajouter un utilisateur' : "Mettre à jour l'utilisateur" }}
    </button>
  </form>
</div>
