<table mat-table [dataSource]="users">
  <!-- Name Column -->
  <ng-container matColumnDef="nom">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let user"> {{user.nom}} </td>
  </ng-container>

  <!-- Prenom Column -->
  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef> Prenom </th>
    <td mat-cell *matCellDef="let user"> {{user.prenom}} </td>
  </ng-container>

  <!-- Mail Column -->
  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef> Mail </th>
    <td mat-cell *matCellDef="let user"> {{user.mail}} </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let user"> {{user.username}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" [routerLink]="['/utilisateur/edit/', row.id]" routerLinkActive="active"></tr>
</table>

