<div class="table-container">
  <input type="text" (keyup)="applyFilter($event)" placeholder="Rechercher" class="filter-input">

  <table class="custom-table">
    <thead>
    <tr>
      <th (click)="sortData('nom')">Nom</th>
      <th (click)="sortData('prenom')">Prenom</th>
      <th (click)="sortData('mail')">Mail</th>
      <th (click)="sortData('username')">Username</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of filteredUsers" (click)="navigateToEdit(user.id)">
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      <td>{{user.mail}}</td>
      <td>{{user.username}}</td>
    </tr>
    </tbody>
  </table>
</div>
