<div>
  <p *ngIf="reservation.jeux && reservation.utilisateur">
    {{ "Réservation du " + reservation.jeux.nom + " par " + reservation.utilisateur.username }}
  </p>
  <p *ngIf="!reservation.jeux || !reservation.utilisateur"></p>

  <form (submit)="onSubmit()" class="reservation-form">
    <div class="form-field">
      <label for="reservation">Réservation: </label>
      <mat-form-field appearance="fill">
        <input matInput type="number" id="reservation" name="reservation" [(ngModel)]="reservation.reservation" required />
      </mat-form-field>
    </div>

    <!-- Champ 'Jeux' conditionnellement affiché lorsque 'mode' est 'add' -->
    <div *ngIf="mode === 'add'" class="form-field">
      <label for="jeu">Aire de jeu: </label>
      <select name="jeu" id="jeu" [(ngModel)]="reservation.jeuxId" required>
        <option *ngFor="let jeu of jeux" [value]="jeu?.id">{{ jeu?.nom }}</option>
      </select>
    </div>

    <!-- Champ 'Utilisateurs' conditionnellement affiché lorsque 'mode' est 'add' -->
    <div *ngIf="mode === 'add'" class="form-field">
      <label for="utilisateur">Utilisateurs: </label>
      <select name="utilisateur" id="utilisateur" [(ngModel)]="reservation.utilisateurId" required>
        <option *ngFor="let utilisateur of users" [value]="utilisateur?.id">{{ utilisateur?.nom + " " + utilisateur?.prenom }}</option>
      </select>
    </div>

    <button
      *ngIf="mode != 'add'"
      type="button"
      mat-raised-button
      color="primary"
      (click)="supprimerReservation()">
      Supprimer l'aire de jeu
    </button>
    <button mat-raised-button color="primary" type="submit">Ajouter la réservation</button>
  </form>
</div>

