<h1>Réservation</h1>
<div class="table-container">
  <input type="text" (keyup)="applyFilter($event)" placeholder="Rechercher" class="filter-input">

  <table class="custom-table">
    <thead>
    <tr>
      <th (click)="sortData('reservation')">Réservation</th>
      <th (click)="sortData('user')">Nom utilisateur</th>
      <th (click)="sortData('game')">Jeu</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of filteredReservations" (click)="navigateToEdit(reservation.utilisateurId, reservation.jeuxId)">
      <td>{{reservation.reservation}}</td>
      <td>{{ reservation.user?.username || 'Chargement...' }}</td>
      <td>{{ reservation.game?.nom || 'Chargement...' }}</td>
    </tr>
    </tbody>
  </table>
</div>

