<div class="table-container">

  <button mat-raised-button class="add-button" routerLink="/reservation/add">
    Ajouter une réservation
  </button>

  <input type="text" (keyup)="applyFilter($event)" placeholder="Rechercher" class="filter-input">

  <table class="custom-table">
    <thead>
    <tr>
      <th (click)="sortData('reservation')">Réservation</th>
      <th (click)="sortData('utilisateur')">Nom utilisateur</th>
      <th (click)="sortData('utilisateur')">Prénom</th>
      <th (click)="sortData('utilisateur')">Nom</th>
      <th (click)="sortData('jeux')">Jeu</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let reservation of filteredReservations" (click)="navigateToEdit(reservation.utilisateurId, reservation.jeuxId)">
      <td>{{reservation.reservation}}</td>
      <td>{{ reservation.utilisateur?.username || 'Chargement...' }}</td>
      <td>{{ reservation.utilisateur?.prenom || 'Chargement...' }}</td>
      <td>{{ reservation.utilisateur?.nom || 'Chargement...' }}</td>
      <td>{{ reservation.jeux?.nom || 'Chargement...' }}</td>
    </tr>
    </tbody>
  </table>
</div>

